{% extends 'base/index.html' %}
{% block main %}
<div class="row" style="width: 100%;">
    <section class="card col-sm-12 col-md-6 mx-auto mt-5">
        <article class="card-header">
            <h5 class="card-tittle">Registro de cuenta</h5>

        </article>
        <form action="" method = "POST">
            {% csrf_token %}
            <article class="card-body">
                {% for campo in formulario %}
                    <div class="form-group">
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                        {{campo}}
                    </div>
                    {% if campo.errors %}
                        {% for error in campo.errors %}
                        <small id="emailHelp" class = "form-text text-muted">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </article>
            <article class="card-footer" style = "display: flex; justify-content: center;">
                <input type="submit" class="btn btn-primary btn-block" style="width: 50%;" value="Registrar">
            </article>
        </form>
    </section>
</div>
{% endblock %}