{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "base/css.html" %}
    {% block css %}
    {% endblock css %}
    <title>{{titulo}}</title>
</head>

<body>
    {% block header %}
    <header>
        <picture>
            <a href="/">
                <img id="logoWeb" src="https://i.pinimg.com/564x/00/40/8e/00408e0124295dc94dbab93d7c64ccb2.jpg">
            </a>
        </picture>
        <section id="barra-superior">
            <article class="flex">
                <p id="superior" class="espacio">Venta Telefonica</p>
                <p id="superior">Contacto</p>
                <p id="centro">La Tiendita de cristian</p>
                <a id="derecha" href=""><img src="https://www.falabella.com/a/fa/static/styles/svg/flagCl.svg"> </a>

            </article>
        </section>
        <section id="barra-inferior">
            <article class="dropdown" id='menuPrincipal'>
                <button class="btn btn-secondary " type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
                        </path>
                    </svg></button>
                <ul class='dropdown-menu' aria-labelledby="dropdownMenu2">
                    <li><a type="button" href="" class="tecnologia">Tecnologia</a></li>
                    <li><a type="button" href="#!" class="moda">Moda</a></li>
                    <li><a type="button" href="/agregar" class="agregar">Agregar</a></li>
                    <li><a type="button" href="/listar" class="listar">Listar</a></li>
                </ul>
            </article>
            <section class="form-inline" id='buscarDatos'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 20%"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill-rule="evenodd"
                            d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z">
                        </path>
                    </svg></button>
                <input class="form-control  mr-sm-2" type="search" placeholder="¿Que buscas?" style="width: 75%"
                    aria-label="Search">
            </section>
            <section id="DatosP">
                <a href="#" id="compras" class="compras">Mis Compras</a>
                <a href="#" id="ayuda" class="ayuda">Ayuda</a>
                <a href="#" id="bolsa">Bolsas</a>
                {% if user.is_authenticated %}
                <a class="waves-effect waves-light btn" href="/accounts/perfil/">{{ user.username }}</a>
                <a class="waves-effect waves-light btn btn-flat" href="/accounts/salir/">Salir</a>
                {% else %}
                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal">Mi cuenta</a>
                {% endif %}
            </section>
        </section>
    </header>
    <!-- Modal -->
    <main class="container">
        <div class="modal fade modal-dialog-centereda " id="exampleModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block modal %}
                        {% include "usuario/login.html" %}
                        {% endblock modal %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock header%}
    {% block main %}
    {% endblock main %}
    </main>
</body>
<footer class="footer-copyright">
    <p class="fh1">direccion: Mi Casa #123 San Bernardo</p>
    <p class="fh2">Fono operador: +56978745627</p>
    <p class="fh3"> tiendita del cris tiene todos los derechos reservados cuaquier difuncion de su contenido
        sera sancionado con multa de hasta 5 UTM</p>
</footer>
{% include "base/js.html" %}
{% block js %}
{% endblock js %}