{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "base/css.html" %}
    {% block css %}
    {% endblock css %}
    <title>{{titulo}}</title>
</head>

<body>
    {% block header %}
    <header>
        <picture>
            <a href="/">
                <img id="logoWeb" src="https://i.pinimg.com/564x/00/40/8e/00408e0124295dc94dbab93d7c64ccb2.jpg">
            </a>
        </picture>
        <section id="barra-superior">
            <article class="flex">
                <p id="superior" class="espacio">Venta Telefonica</p>
                <p id="superior">Contacto</p>
                <p id="centro">La Tiendita de cristian</p>
                <a id="derecha" href=""><img src="https://www.falabella.com/a/fa/static/styles/svg/flagCl.svg"> </a>

            </article>
        </section>
        <section id="barra-inferior">
            <article id="menuPrincipal">
                <p class='dropdown-trigger btn' href='#' data-target='dropdown' id="margen"> <i
                        class="material-icons">menu</i></p>
                <ul id='dropdown' class='dropdown-content'>
                    <li><a type="submit" href="" class="tecnologia">Tecnologia</a></li>
                    <li><a type="submit" href="#!" class="moda">Moda</a></li>
                    <li><a type="submit" href="/agregar" class="agregar">Agregar</a></li>
                    <li><a type="submit" href="/listar" class="listar">Listar</a></li>
                </ul>
            </article>
            <section id="buscarDatos">
                <input type="search" style="margin: 0px !important;" placeholder="¿Qué buscas?">
            </section>
            <section id="DatosP">

                <a class="waves-effect waves-light btn modal-trigger btn-flat" href="#modal1"><i
                        class="material-icons">perm_identity</i>Mi cuenta</a>

                <a href="#" id="compras" class="compras">Mis Compras</a>
                <a href="#" id="ayuda" class="ayuda">Ayuda</a>
                <a href="#" id="bolsa">Bolsas</a>
            </section>
        </section>
    </header>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content container">
            {% block main2 %}
            <form action="" method="POST" class="modal-dialog modal-lg" role="document">
                <label for="id_username" class="">Nombre de usuario:</label><input type="text" name="username"
                    autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required=""
                    id="id_username">
                <label for="id_password" class="">Contraseña:</label><input type="password" name="password"
                    autocomplete="current-password" required="" id="id_password">
                <input type="hidden" name="csrfmiddlewaretoken"
                    value="AirN9wGtjIwgsLI8pasp8XQMyhKmVJxy6hpHTnbeCcuCHmNq2RtlXAUQS8YRE5Hx">
                <input class="btn" type="submit" value="Iniciar Sesion">
                <a class="waves-effect waves-light btn right" href="/accounts/registro">registro</a>
            </form>
            {% endblock main2 %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salir</a>
        </div>
    </div>
    </section>
    {% endblock header%}
    {% block main %}
    {% endblock main %}
    </main>
</body>
<footer class="footer-copyright">
    <p class="fh1">direccion: Mi Casa #123 San Bernardo</p>
    <p class="fh2">Fono operador: +56978745627</p>
    <p class="fh3"> tiendita del cris tiene todos los derechos reservados cuaquier difuncion de su contenido
        sera sancionado con multa de hasta 5 UTM</p>
</footer>
{% include "base/js.html" %}
{% block js %}
{% endblock js %}