{% extends 'base/index.html' %}
{% block main %}
<div id = "card-admin">
    <div class="card text-center border-secondary text-white" style="width: 18rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light"><a type="button" href="/agregar" class="btn">Agregar producto</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/listar" class="btn">Listar productos</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/categoria" class="btn">Añadir categoria</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/accounts/listaruser/" class="btn">Listar usuarios</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/listacategorias" class="btn">Listar categorias</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/accounts/agregargenero/" class="btn">Agregar género</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/accounts/listargenero/" class="btn">Listar géneros</a></li>
        </ul>
    </div>
</div>
{% endblock main %}