{% extends 'base/index.html' %}
{% block main %}
<div id = "card-admin">
    <div class="card text-center border-secondary text-white" style="width: 18rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light"><a type="button" href="/agregar" class="btn">Agregar</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/listar" class="btn">Listar</a></li>
        <li class="list-group-item bg-light"><a type="button" href="/categoria" class="btn">Categoria</a></li>
        </ul>
    </div>
</div>
{% endblock main %}