{% extends 'base/index.html' %}

{% load cart_tags %}


{% block main %}
</form>

</body>
<main class="container col-sm-12 col-md-6 mx-auto mt-5" style="display: flex; margin: 0 !important; min-width: 100%; padding-top: 50px;">
  <section id = "catalogoProductos" class="card-group col-sm-12 col-md-6 mx-auto mt-5" style="display: flex; min-width: 100%; margin: 0 !important; justify-content: center;">
    {% for producto in productos %}
    <div class="card " style="max-width: 250px; margin: 10px" id="{{producto.id}}">
      <img src="/media/{{producto.foto}}" style=" width: 300px; height: 200px;" class="img-thumbnail" alt="{{producto.nombre}}">
      <div class="card-body">

          <h5 class="card-title"> {{producto.nombre}}</h5>
          <p class="">Marca: {{producto.marca}}</p>
          <p class="">Precio: ${{producto.precio}}</p>
          <p class="">Peso: {{producto.peso}}Kg</p>
          <p class="">Dimension: {{producto.dimension}}</p>
          <p>Categoria: {{producto.categoria}} </p>
        
      </div>
      
      <footer class="card-footer" id = "card-footer-moda">
        <div class="btn-group" role="group" aria-label="Basic example"></div>
        <a href="/productos/{{producto.id}}" class="card-link btn btn-primary" style="margin: 5px;">Visualizar</a><br>
        <a href="{% url 'cart:agregarproducto' producto_id=producto.id %}" class="card-link btn btn-primary">Agregar al carrito</a>
        </div>
    </footer>
    </div>
    {% endfor %}
  </section>
</main>
  <div class="row" style="display: flex; margin: 10px;">
    <div class="col-md-16 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-6 float-left">
        {% if productos.has_previous %}
          <div class="clearfix">
            <a href="?page={{productos.previous_page_number}}" class="btn btn-primary float-left">Anterior</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-12 float-left">
        {% if productos.has_next %}
          <div class="clearfix">
            <a href="?page={{productos.next_page_number}}" class="btn btn-primary float-right">Siguiente</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}