{% extends 'base/index.html' %}
{% load static %}
{% block main %}
<main class="container" style="padding-top: 50px;">
    <article class="row row-cols-1 row-cols-sm-2 row-cols-md-12 detprod ">
        <section class="text-center align-self-center border-right " >
            <img src="/media/{{producto.foto}}" class="m-2 sm-12 border-secondary border border-primary" alt=""
                style="width: 300px; height: 300px;">
        </section>
            <nav class="row" style="align-content: space-evenly; background-color: #fafafa;">
                <h3 class="col-12 text-center"> Información del producto </h3>
                <p class="col-6" style="padding-left: 30px;">Nombre: {{producto.nombre}}</p>
                <p class="col-6">Marca: {{producto.marca}}</p>
                <p class="col-6" style="padding-left: 30px;">Precio: ${{producto.precio}}</p>
                <p class="col-6">Peso: {{producto.peso}}Kg</p>
                <p class="col-6" style="padding-left: 30px;">Dimension: {{producto.dimension}}</p>
                <p class="col-6">Detalle: {{producto.detalle}}</p>
                <p class="text-center col-12">
                    <a href="{% url 'cart:agregarproducto' producto_id=producto.id %}" class="btn btn-primary col-8 ">Agregar al
                        Carrito</a>
                </p>
                
            </nav>
    </article>
</main>

<div class="card">
    <div class="card-header">
        <h2 class="card-tittle">Comentarios</h2>
    </div>
    <form action="">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comentario">Ingrese su comentario...</label>
                        <textarea name="comentario" id="comentario" required class = "form-control" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Comentar" class = "btn btn-success btn-block">
        </div>
    </form>
</div>
<section class="container">

</section>


{% endblock %}