{% extends 'base/contenido.html' %}
{% block contenido %}
<header>
    <picture herf="/principal/">
        <img id="logoWeb"  src="https://i.pinimg.com/564x/00/40/8e/00408e0124295dc94dbab93d7c64ccb2.jpg"> 
    </picture>
    <section  id="barra-superior">
        <article class="flex">
            <p id="superior" class="espacio">Venta Telefonica</p>
            <p id="superior">Contacto</p>
            <p id="centro">La Tiendita de cristian</p>
            <a id="derecha" href="#!" ><img src="https://www.falabella.com/a/fa/static/styles/svg/flagCl.svg"> </a>
 
        </article>
    </section>
    <section id="barra-inferior">
        <article class="flex">
            <article class="flex" id="menu">
                <p class='dropdown-trigger btn' href='#' data-target='dropdown' id="margen"> <i class="material-icons" >menu</i></p>
                <ul id='dropdown' class='dropdown-content'>
                    <li><a type="submit" href="#!" class="tecnologia">Tecnologia</a></li>
                    <li><a type="submit" href="#!" class="moda">Moda</a></li>
                    <li><a type="submit" href="#!" class="volver">Pagina principal</a></li>
                    <li><a type="submit" href="/principal/cuerpo" class="agregar">agregar</a></li>
                    <li><a type="submit" href="#!" class="eliminar">Eliminar</a></li>
                </ul>
            </article>
            <section class="flex" id="buscar">
                <input type="search" placeholder="¿Qué buscas?">
            </section>
                <a href="#" id="cuenta"><i class="material-icons">perm_identity</i><br>Cuenta</a>
                <a href="#" id="cuenta" class="compras">Mis Compras</a>
                <a href="#" id="cuenta" class="ayuda">Ayuda</a>
                <a href="#" id="cuenta">Bolsas</a>
            </article>
        </article>
    </section>

</header>
{% endblock %}
{% block contenido2 %}
<main id = "pagina-principal" class="principal">
    <!-- slider de  imagenes-->
    <picture>
        <!--Lista de imagenes-->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="https://i.pinimg.com/originals/07/0b/8a/070b8a86ea28bacc0f5081e740f44627.jpg" width: 580;>
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/cf/a4/57/cfa4576033a1822611d3e4737272af36.jpg">
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/f3/43/03/f3430391daaa84567ba31b9432153fa2.jpg">
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/a8/46/17/a84617142ef1b35059db04716b4331c2.jpg">
                </li>
            </ul>
        </div>
    </picture>
    <!--Seccion informaciónes-->
    <section>

    </section>
    <!--Seccion de productos-->
    <section id = "productos" class ="row display-flex">
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
    </section>
    <!--Promocion plan-->
    <aside id = "promocion-1" class="display-flex">
        <article class = "col s12">
            
        </article>
    </aside>
    <!--promocion acumula puntos-->
    <aside id = "promocion-2" class = "row display-flex">
        <article class = "col s12">
            <a href = "#"></a>
        </article>

    </aside>
    <!--Seccion de imperdibles con display grid-->
    <!--Usar background image-->
    <!--El uso de img limita el despliegue de la imagen a la altura y ancho que posee-->
    <section id="imperdibles" class="row">
        <article class="col s6"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s6"></article>
        <article class="col s6"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s6"></article>
    </section>
    <!--seccion imperdibles (se despliega en la version movil)-->
    <section id = "imperdibles-mobile">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>

    <!--slider de recomendaciones de clientes-->
    <section id = "lo-encontre" class = "display-flex row">
        <article class = "col s6"></article>
        <article class = "col s3"></article>
        <article class = "col s3"></article>
    </section>
    </main>
{% endblock contenido2 %}