{% extends 'base/index.html' %}
{% block main %}
<main id = "pagina-principal" class="principal">
    <section class="sep">
        <p class="separador" > Este pagina es esta elaborada por la coperacion de muchas personas disfruten de lo que ven y muchas gracias<p>
    </section>
    <!-- slider de  imagenes-->
    <picture>
        <!--Lista de imagenes-->
        <main class="slider">
            <ul class="slides">
                <li>
                    <img src="https://i.pinimg.com/originals/07/0b/8a/070b8a86ea28bacc0f5081e740f44627.jpg" width: 580;>
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/cf/a4/57/cfa4576033a1822611d3e4737272af36.jpg">
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/f3/43/03/f3430391daaa84567ba31b9432153fa2.jpg">
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/a8/46/17/a84617142ef1b35059db04716b4331c2.jpg">
                </li>
            </ul>
        </main>
    </picture>
    <!--Seccion informaciónes-->
    <section>

    </section>
    <!--Seccion de productos-->
    <section id = "productos" class ="row display-flex">
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
        <article class = "col s2 display-flex"><a class = "display-flex" href = "#">Conoce más aquí</a></article>
    </section>
    <!--Promocion plan-->
    <aside id = "promocion-1" class="display-flex">
        <article class = "col s12">
            
        </article>
    </aside>
    <!--promocion acumula puntos-->
    <aside id = "promocion-2" class = "row display-flex">
        <article class = "col s12">
            <a href = "#"></a>
        </article>

    </aside>
    <!--Seccion de imperdibles con display grid-->
    <!--Usar background image-->
    <!--El uso de img limita el despliegue de la imagen a la altura y ancho que posee-->
    <section id="imperdibles" class="row">
        <article class="col s6"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s6"></article>
        <article class="col s6"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s3"></article>
        <article class="col s6"></article>
    </section>
    <!--seccion imperdibles (se despliega en la version movil)-->
    <section id = "imperdibles-mobile">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>

    <!--slider de recomendaciones de clientes-->
    <section id = "lo-encontre" class = "display-flex row">
        <article class = "col s6"></article>
        <article class = "col s3"></article>
        <article class = "col s3"></article>
    </section>
    </main>
{% endblock main %}